<nav class="col-lg-3 col-xl-2 sidebar hidden-md-down dbl-margin-top" role="navigation">
    <div class="base-margin"></div>
    <div id="sidemenu">
    <ul id="rootSidebar">
        <li class="sidebar__item">
            <a tabindex="0" title="Demo Overview" href="{{ url_for('index') }}">
                <span class="icon-home"></span>
                <span>Demo Overview</span>
            </a>
        </li>
        <li class="sidebar__item">
            <a tabindex="0" title="OT Assets" href="{{ url_for('entranceobserver') }}">
                <span class="icon-devices"></span>
                <span>Entrance Observer</span>
            </a>
        </li>
        <li class="sidebar__item">
            <a tabindex="0" title="OT Assets" href="{{ url_for('peopledetection') }}">
                <span class="icon-devices"></span>
                <span>People Detection</span>
            </a>
        </li>
        <!--
        <li class="sidebar__item">
            <a tabindex="0" title="Webex Teams" href="{{ url_for('index') }}">
                <span class="icon-message"></span>
                <span>Webex Teams Integration</span>
            </a>
        </li>
        <li class="sidebar__item">
            <a tabindex="0" title="Reports" href="{{ url_for('index') }}">
                <span class="icon-graph"></span>
                <span>Security Events</span>
            </a>
        </li>
        <li class="sidebar__item">
            <a tabindex="0" title="Remote Access" href="{{ url_for('index') }}">
                <span>
                    <span class="badge-wrapper">
                        <span class="icon-pc"></span>
                        <span class="badge badge--danger badge--tiny">1</span>
                    </span>
                </span>
                <span>Remote Access</span>
            </a>
        </li>
        <li class="sidebar__item">
            <a tabindex="0" title="About" href="{{ url_for('index') }}">
                <span class="icon-info"></span>
                <span>About</span>
            </a>
        </li>-->
    </ul>
    </div>
</nav>